* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

.container1 {
    background-color: #2874f0;
    height: 60px;
    display: flex;
}

.logo {
    margin-left: 150px;
    line-height: 0;
    padding-top: 10px;
}

.logo img {
    width: 75px;
    height: 21px;
    cursor: pointer;
}

.logo p {
    color: #fff;
    font-style: italic;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 0;
}

.logo p span {
    color: yellow;
}

.logo p img {
    width: 10px;
    height: 10px;
}

.logo p:hover {
    text-decoration: underline;
}

.search {
    margin-left: 20px;
    border: 1px solid white;
    width: 450px;
    height: 40px;
    margin-top: 10px;
    background-color: #fff;
}

.search input {
    width: 400px;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
}

.search i {
    margin-left: 20px;
    color: #2874f0;
    font-size: 18px;
}

.login {
    margin-left: 30px;
    border: 1px solid white;
    height: 30px;
    width: 100px;
    margin-top: 15px;
    background-color: #fff;
    cursor: pointer;
}

.login a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    color: #2874f0;
}

.seller {
    margin-left: 30px;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.more {
    margin-left: 30px;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.cart {
    margin-left: 30px;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    display: flex;
}

.address {
    margin-top: 50px;
    margin-left: 40px;
    border: 1px solid #f0f0f0;
    width: 600px;
    height: 40px;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px gray;
    display: flex;
}

.address p {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
}

.address a {
    margin-left: auto;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 20px;
}

.cart-item-list {
    border: 1px solid white;
    margin-top: 20px;
    margin-left: 40px;
    width: 600px;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px gray;
    display: flex;
}

.cart-item-list img {
    width: 100px;
    padding-left: 20px;
}

.qty-cont {
    display: flex;
    border: 1px solid #f0f0f0;
    border-radius: 50px;
    width: 100px;
}

.qty-cont p {
    font-size: 20px;
    cursor: pointer;
}

.qty {
    width: 100%;
    border: none;
    outline: none;
    padding-left: 30px;
}

.minus {
    margin-left: 10px;
    font-size: 20px;
}

.remove {
    margin-left: 50px;
    margin-top: 10px;
}

.container {
    display: flex;
}

.right-container {
    border: 1px solid white;
    margin-left: 70px;
    height: 200px;
    margin-top: 50px;
    background-color: #fff;
}

.right-container p {
    padding-top: 20px;
}

.right-container p span {
    margin-left: 300px;
}

.save {
    margin-left: 50px;
    font-size: 20px;
}

.cart-items .emptyImg {
    width: 600px;
    margin-top: 40px;
    margin-left: 300px;
}

.cart-items .emptyCart {
    margin-left: 500px;
    font-size: 30px;
}

.cart-items .emptyProduct {
    margin-left: 550px;
    font-size: 30px;
    text-decoration: none;
    color: #2874f0;
    margin-top: 20px;
}

.cart-items .emptyProduct:hover {
    text-decoration: underline;
}

.order {
    margin-top: 20px;
    margin-left: 500px;
    border: 1px solid orangered;
    height: 40px;
    background-color: white;
    cursor: pointer;
}

.orderBtn {
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: white;
    color: orangered;
    border: none;
    outline: none;
    cursor: pointer;
}

.orderBtn:hover {
    background-color: orangered;
    color: white;
}