* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

.container1 {
    background-color: #2874f0;
    height: 60px;
    display: flex;
}

.logo {
    margin-left: 150px;
    line-height: 0;
    padding-top: 10px;
}

.logo img {
    width: 75px;
    height: 21px;
    cursor: pointer;
}

.logo p {
    color: #fff;
    font-style: italic;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 0;
}

.logo p span {
    color: yellow;
}

.logo p img {
    width: 10px;
    height: 10px;
}

.logo p:hover {
    text-decoration: underline;
}

.search {
    margin-left: 20px;
    border: 1px solid white;
    width: 450px;
    height: 40px;
    margin-top: 10px;
    background-color: #fff;
}

.search input {
    width: 400px;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
}

.search i {
    margin-left: 20px;
    color: #2874f0;
    font-size: 18px;
}

.login {
    margin-left: 30px;
    border: 1px solid white;
    height: 30px;
    width: 100px;
    margin-top: 15px;
    background-color: #fff;
    cursor: pointer;
}

.login a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    color: #2874f0;
}

.seller {
    margin-left: 30px;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.more {
    margin-left: 30px;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.cart {
    margin-left: 30px;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    display: flex;
}

.top-products {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #fff;
    height: 140px;
    padding-left: 70px;
    padding-top: 10px;
    padding-right: 70px;
}

.top-products a {
    text-decoration: none;
    color: black;
}

.top-products a img {
    width: 70px;
}

.top-products a:hover {
    color: #2874f0;
}

.slider {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.slider .carousel-item img {
    height: 300px;
}

.carousel-control-prev-icon {
    margin-right: auto;
}

.carousel-control-next-icon {
    margin-left: auto;
}

.ads {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.ads img {
    width: 100%;
}

.main-products {
    background-color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
}

.best {
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/278/278/image/0b22f4bdbe5b032a.jpg?q=90');
    background-repeat: no-repeat;
    background-position: 0px bottom;
    width: 230px;
    padding-left: 60px;
    padding-top: 95px;
    box-shadow: 3px 3px 3px 3px gray;
}

.best p {
    font-size: 30px;
}

.main-product-item {
    display: flex;
    margin-left: 10px;
    align-items: center;
    text-align: center;
}

.main-product-item a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.ad1 {
    box-shadow: 3px 3px 3px 3px gray;
}

.ad1 img {
    width: 230px;
    height: 354px;
    max-width: 100%;
    max-height: 100%;
}

.product-list {
    display: flex;
}

.product-list img {
    width: 147px;
    height: 200px;
}

.prodPrice {
    color: green;
}

.prodBrand {
    color: gray;
}

.product-list img:hover {
    transform: scale(1.1);
}